USE [master]
GO
/****** Object:  Database [XoaySoTrungThuong]    Script Date: 01/08/2019 09:51:59 ******/
CREATE DATABASE [XoaySoTrungThuong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XoaySoTrungThuong', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\XoaySoTrungThuong.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'XoaySoTrungThuong_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\XoaySoTrungThuong_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XoaySoTrungThuong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XoaySoTrungThuong]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[ClaimsId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HinhNen]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhNen](
	[ID_HinhNen] [int] NOT NULL,
	[HinhNen] [nvarchar](50) NULL,
 CONSTRAINT [PK_HinhNen] PRIMARY KEY CLUSTERED 
(
	[ID_HinhNen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogQuay]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogQuay](
	[ID_LogQuay] [int] IDENTITY(1,1) NOT NULL,
	[CurrentID_Rule] [int] NULL,
	[ID_Player] [int] NULL,
	[ID_Prize] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LogQuay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Player]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[ID_Player] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](4) NULL,
	[Name] [nvarchar](200) NULL,
	[Room] [nvarchar](max) NULL,
	[BelongType] [nvarchar](200) NULL,
	[Flag] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Player] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlayerGP]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerGP](
	[ID_PlayerGP] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nchar](10) NULL,
	[Name] [nvarchar](50) NULL,
	[Room] [nvarchar](max) NULL,
	[BelongType] [nvarchar](200) NULL,
	[Flag] [nchar](10) NULL,
	[Dot] [int] NULL,
	[Lan] [int] NULL,
	[Giai] [nvarchar](50) NULL,
 CONSTRAINT [PK_PlayerGP] PRIMARY KEY CLUSTERED 
(
	[ID_PlayerGP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlayerIV]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerIV](
	[ID_PlayerIV] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nchar](10) NULL,
	[Name] [nvarchar](50) NULL,
	[Room] [nvarchar](max) NULL,
	[BelongType] [nvarchar](200) NULL,
	[Flag] [nchar](10) NULL,
	[Dot] [int] NULL,
	[Lan] [int] NULL,
	[Giai] [nvarchar](50) NULL,
 CONSTRAINT [PK_PlayerIV] PRIMARY KEY CLUSTERED 
(
	[ID_PlayerIV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prize]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prize](
	[ID_Prize] [int] IDENTITY(1,1) NOT NULL,
	[CoCauGiai] [nvarchar](200) NULL,
	[ChiTietGiai] [nvarchar](max) NULL,
	[Number] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[ID_Rule] [int] NULL,
	[Status] [bit] NULL,
	[SoLanDaQuay] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Prize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RuleToPlay]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleToPlay](
	[ID_Rule] [int] IDENTITY(1,1) NOT NULL,
	[RoundNumber] [int] NULL,
	[PrizeNumber] [int] NULL,
	[GuessNumber] [int] NULL,
	[Status] [bit] NULL,
	[Stage] [int] NULL,
	[SoKMDaTrungGiai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Rule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'674fab55-7f5e-478d-9e2e-da8406fc49a8', N'Administrator@quayso.com', 0, N'APORiF4zDMxMqjoUtbpdLvC2mRUp40FaJ+Pby4MwLIpFDYhj8vHI7LABhK9eHR3dDg==', N'c83e78c4-16e8-46e0-9c2f-2e6ff546423d', NULL, 0, 0, NULL, 1, 0, N'Administrator@quayso.com')
INSERT [dbo].[HinhNen] ([ID_HinhNen], [HinhNen]) VALUES (1, N'../Content/Files/9.jpg')
SET IDENTITY_INSERT [dbo].[Player] ON 

INSERT [dbo].[Player] ([ID_Player], [Code], [Name], [Room], [BelongType], [Flag]) VALUES (2214, N'2371', N'Nguyễn Trọng Tân', N'BOD', N'NV', 0)
INSERT [dbo].[Player] ([ID_Player], [Code], [Name], [Room], [BelongType], [Flag]) VALUES (2215, N'0518', N'Nguyễn Huỳnh Thơ', N'Nhân Sự', N'NV', 0)
INSERT [dbo].[Player] ([ID_Player], [Code], [Name], [Room], [BelongType], [Flag]) VALUES (2216, N'1635', N'Phạm Thị Kiều', N'Nhân Sự', N'NV', 0)
GO
SET IDENTITY_INSERT [dbo].[Player] OFF
SET IDENTITY_INSERT [dbo].[PlayerGP] ON 

INSERT [dbo].[PlayerGP] ([ID_PlayerGP], [Code], [Name], [Room], [BelongType], [Flag], [Dot], [Lan], [Giai]) VALUES (1, N'1245      ', N'Lê Thị Thùy Dung', N'Kinh Doanh', N'NV', N'True      ', 1, 1, N'KHUYỀN KHÍCH')
INSERT [dbo].[PlayerGP] ([ID_PlayerGP], [Code], [Name], [Room], [BelongType], [Flag], [Dot], [Lan], [Giai]) VALUES (2, N'2244      ', N'Trần Hoàng Long', N'Kinh Doanh', N'NV', N'True      ', 1, 1, N'KHUYỀN KHÍCH')
INSERT [dbo].[PlayerGP] ([ID_PlayerGP], [Code], [Name], [Room], [BelongType], [Flag], [Dot], [Lan], [Giai]) VALUES (3, N'1901      ', N'Trần Thanh Vẫn', N'Kinh Doanh', N'NV', N'True      ', 1, 1, N'KHUYỀN KHÍCH')
SET IDENTITY_INSERT [dbo].[PlayerGP] OFF
SET IDENTITY_INSERT [dbo].[Prize] ON 

INSERT [dbo].[Prize] ([ID_Prize], [CoCauGiai], [ChiTietGiai], [Number], [GhiChu], [HinhAnh], [ID_Rule], [Status], [SoLanDaQuay]) VALUES (1, N'KHUYỀN KHÍCH', N'NỒI LẨU ĐIỆN GOLDSUN MC-GAL30R', 5, N'02 K/mời nhận giải ngẩu nhiên', N'../Content/Files/noilaudien.png', 7, 0, 4)
INSERT [dbo].[Prize] ([ID_Prize], [CoCauGiai], [ChiTietGiai], [Number], [GhiChu], [HinhAnh], [ID_Rule], [Status], [SoLanDaQuay]) VALUES (2, N'GIẢI BẢY', N'PIN SẠC DỰ PHÒNG SONY – 10000 MAH CP-V10A/BC ULA', 3, N'02 K/mời nhận giải ngẩu nhiên', N'../Content/Files/pinduphongsony.png', 7, 0, 0)
INSERT [dbo].[Prize] ([ID_Prize], [CoCauGiai], [ChiTietGiai], [Number], [GhiChu], [HinhAnh], [ID_Rule], [Status], [SoLanDaQuay]) VALUES (3, N'GIẢI TÀI TRỢ ED CÀ MAU', N'NỒI CƠM ĐIỆN ALASKA', 1, N'02 K/mời nhận giải ngẩu nhiên', N'../Content/Files/noicomdien.png', 7, 1, 1)
SET IDENTITY_INSERT [dbo].[Prize] OFF
SET IDENTITY_INSERT [dbo].[RuleToPlay] ON 

INSERT [dbo].[RuleToPlay] ([ID_Rule], [RoundNumber], [PrizeNumber], [GuessNumber], [Status], [Stage], [SoKMDaTrungGiai]) VALUES (7, 1, 10, 2, 0, 1, 0)
INSERT [dbo].[RuleToPlay] ([ID_Rule], [RoundNumber], [PrizeNumber], [GuessNumber], [Status], [Stage], [SoKMDaTrungGiai]) VALUES (8, 2, 10, 2, 0, 1, 0)
INSERT [dbo].[RuleToPlay] ([ID_Rule], [RoundNumber], [PrizeNumber], [GuessNumber], [Status], [Stage], [SoKMDaTrungGiai]) VALUES (9, 1, 10, 2, 0, 2, 0)
SET IDENTITY_INSERT [dbo].[RuleToPlay] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Prize]  WITH CHECK ADD FOREIGN KEY([ID_Rule])
REFERENCES [dbo].[RuleToPlay] ([ID_Rule])
GO
/****** Object:  StoredProcedure [dbo].[CountAllPlayer]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CountAllPlayer]
  as
  select count(code)as soluong
  from Player

GO
/****** Object:  StoredProcedure [dbo].[deleteAllGuess]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteAllGuess]
as
delete Player
where BelongType <> 'NV'

GO
/****** Object:  StoredProcedure [dbo].[deleteAllPlayer]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteAllPlayer]
as
delete Player
where BelongType = 'NV'

GO
/****** Object:  StoredProcedure [dbo].[deletePlayerGP]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deletePlayerGP]
  as
  truncate table PlayerGP

GO
/****** Object:  StoredProcedure [dbo].[deletePlayerIV]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deletePlayerIV]
  as
  truncate table PlayerIV

GO
/****** Object:  StoredProcedure [dbo].[deletePrize]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deletePrize]
  @ID_Prize int
  as
  delete Prize
  where ID_Prize = @ID_Prize

GO
/****** Object:  StoredProcedure [dbo].[deleteRuleToPlay]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteRuleToPlay]
  @ID_Rule int
  as
  delete RuleToPlay
  where ID_Rule = @ID_Rule

GO
/****** Object:  StoredProcedure [dbo].[DotQuay]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DotQuay]
as
  select DISTINCT * from RuleToPlay

GO
/****** Object:  StoredProcedure [dbo].[getAllDotQuay]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getAllDotQuay]
as
  select DISTINCT Stage from RuleToPlay

GO
/****** Object:  StoredProcedure [dbo].[getAllPlayer]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getAllPlayer]
  as
  select * 
  from Player

GO
/****** Object:  StoredProcedure [dbo].[getAllPlayerGP]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getAllPlayerGP]
  as
  select * 
  from PlayerGP

GO
/****** Object:  StoredProcedure [dbo].[getAllPlayerIV]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getAllPlayerIV]
  as
  select * 
  from PlayerIV

GO
/****** Object:  StoredProcedure [dbo].[getAllPrize]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getAllPrize]
  as
  select *
  from Prize

GO
/****** Object:  StoredProcedure [dbo].[GetAllRule]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllRule]
  as
  select *
  from RuleToPlay

GO
/****** Object:  StoredProcedure [dbo].[getDotQuay]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getDotQuay]
as
  select DISTINCT Stage
  from RuleToPlay

GO
/****** Object:  StoredProcedure [dbo].[getGiaiThuong]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getGiaiThuong]
as
  select * from Prize

GO
/****** Object:  StoredProcedure [dbo].[getLanQuay]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getLanQuay]
as
  select * from RuleToPlay

GO
/****** Object:  StoredProcedure [dbo].[getPlayerGP]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getPlayerGP]
  as
  select * 
  from PlayerGP

GO
/****** Object:  StoredProcedure [dbo].[getPlayerIV]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getPlayerIV]
  as
  select * 
  from PlayerIV

GO
/****** Object:  StoredProcedure [dbo].[getPrize]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getPrize]
  as
  select *
  from Prize

GO
/****** Object:  StoredProcedure [dbo].[getRule]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getRule]
  as
  select *
  from RuleToPlay

GO
/****** Object:  StoredProcedure [dbo].[getRuleToPlay]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getRuleToPlay]
  as
  select *
  from RuleToPlay

GO
/****** Object:  StoredProcedure [dbo].[getSoLanDaQuay]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getSoLanDaQuay]
  as
  select *
  from Prize

GO
/****** Object:  StoredProcedure [dbo].[GiaiThuong]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GiaiThuong]
as
  select distinct CoCauGiai from Prize

GO
/****** Object:  StoredProcedure [dbo].[insertLogQuay]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertLogQuay]
  @CurrentID_Rule int,
  @ID_Player int,
  @ID_Prize int
  as
  insert into LogQuay(CurrentID_Rule, ID_Player, ID_Prize)
  values(@CurrentID_Rule, @ID_Player, @ID_Prize)

GO
/****** Object:  StoredProcedure [dbo].[insertPrize]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertPrize]
	  @CoCauGiai nvarchar(200),
	  @ChiTietGiai nvarchar(max),
	  @Number int,
	  @GhiChu nvarchar(max),
	  @HinhAnh nvarchar(max),
	  @ID_Rule int
 as
	insert into Prize(CoCauGiai, ChiTietGiai, Number, GhiChu, HinhAnh, ID_Rule)
	values(@CoCauGiai, @ChiTietGiai, @Number, @GhiChu, @HinhAnh, @ID_Rule)

GO
/****** Object:  StoredProcedure [dbo].[LanQuay]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LanQuay]
as
  select DISTINCT RoundNumber roundnumber
  from RuleToPlay

GO
/****** Object:  StoredProcedure [dbo].[PrizeRule]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PrizeRule]
as
  select * from Prize as p join RuleToPlay as r on p.ID_Rule=r.ID_Rule

GO
/****** Object:  StoredProcedure [dbo].[ReSetLongQuay]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE proc [dbo].[ReSetLongQuay]
  as
  update Player set Flag = 'false'
  update Prize set Status = 'false',SoLanDaQuay = 0
  update RuleToPlay set SoKMDaTrungGiai = 0
  truncate table PlayerGP
  truncate table PlayerIV

GO
/****** Object:  StoredProcedure [dbo].[updateFlagForPlayer]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateFlagForPlayer]
  @ID_Player int
  as
  update Player
  set Flag = 1
  where ID_Player = @ID_Player

GO
/****** Object:  StoredProcedure [dbo].[updateRuleToPlay]    Script Date: 01/08/2019 09:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateRuleToPlay]
  @ID_Rule int,
  @RoundNumber int,
  @PrizeNumber int,
  @GuessNumber int
  as
  update RuleToPlay
  set RoundNumber = @RoundNumber,
      PrizeNumber = @PrizeNumber,
	  GuessNumber = @GuessNumber
  where ID_Rule = @ID_Rule

GO
USE [master]
GO
